.navbar {
  padding: 20px 0;
  &__btns {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .my-purchases {
      display: flex;
      align-items: center;
      color: #fff;
      padding: 10px 15px;

      .v-btn__content {
        gap: 5px;
      }
    }
  }
  &__search {
    width: 50%;
  }
  &__btns {
    .v-btn.v-btn--density-default {
      height: 100%;
    }
  }
}
