.navbar {
  padding: 20px 0;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .my-purchases {
      display: flex;
      align-items: center;
      color: #fff;
      .v-btn__content{
        gap: 5px;

      }
    }
  }
  &__search {
    width: 50%;
  }
  &__btns {
    .v-btn.v-btn--density-default {
      height: 100%;
    }
    .my-purchases {
      padding: 10px 15px;
      width: 100%;
      height: 100%;
    }
  }
}
